* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(rgba(5,37,76, 1), rgba(31,165,216, 1), rgba(186,109,255, 1));
    background-repeat: no-repeat;
    color: #fff;
}

.header, .footer {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

.header__title {
    width: 100%;
    text-align: center;
    font-size: 22px;
}
.main__texto {
    width: 70%;
    margin: 20px 0;
}
.main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1); 
}

.valores {
    width: 320px;
    padding: 20px;
    background-color:rgba(255, 255, 255, 0.1);
    border-radius: 7px;
}
.valores__title {
    text-align: center;
    font-size: 19px;
    margin-top: 10px;
}

.valores__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.valores__form label {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    position: relative;
}
#form__input {
    flex-direction: row;
}
.input--number {
    width: 95%;
    height: 30px;
    border: 0;
    outline: 0;
    color: #fff;
    background-color: transparent;
    font-size: 16px;
    padding: 0 5px;
    border-bottom: 2px solid #fff;
}
::placeholder {
    color: #fff;
    background-color: transparent;
}

.before {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 24px;
    left: 61%;
}
.before:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(106, 192, 241);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    transform: rotate(45deg);
    z-index: -1;
    position: absolute;
    left: 0;
}

.before1 {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 24px;
    left: 8%;
}
.before1:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(106, 192, 241);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    transform: rotate(45deg);
    z-index: -1;
    position: absolute;
    left: 0;
}

.input--range {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    margin-top: 45px;
    border-radius: 4px;
    
}

.input--range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #a374fa;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 2px solid #7bcde8;
    cursor: pointer;
}

.input--range::-moz-range-progress {
    background-color: #877bfd;
   
}

.btn {
    display: block;
    margin: 10px auto;
    padding: 10px 24px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    color: #ccebf3;
    cursor: pointer;
}
.btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.text__table {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    background-color: rgb(5,20,50, .1);

}
.carousel {
    width: 95%;
    display: flex;
    overflow-x: auto;
    margin: 10px 0;
}
.table {
    width: 100%;
    min-width: 800px;
    max-width: 1400px;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid transparent;
    font-family: 'Libre Franklin', sans-serif;
}
.tabla__head, .tabla__footer {
    display: grid;
    grid-template-columns: 170px repeat(4, 1fr);
    gap: 4px;
}
.cuadro {
    display: grid;
    grid-template-columns: 170px repeat(4, 1fr);
    gap: 4px;
    margin: 4px 0;
}
p {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    border: 1px solid transparent;
    border-radius: 7px;
}
.tabla__head > p, .tabla__footer > p {  
    font-weight: bold; 
}

.footer {
    justify-content: space-around;
}
.footer > a {
    color: #fff;
    text-decoration: none;
}
.footer > a:hover {
    text-decoration: underline;
}

@media (max-width: 800px) {
    .carousel {
        margin: 20px 0;
        box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.5);
    }
    p {
        font-size: 14px;
    }
    .tabla__head, .tabla__footer {
        grid-template-columns: 100px repeat(4, 1fr);
        gap: 2px;
    }
    .cuadro {
        grid-template-columns: 100px repeat(4, 1fr);
        gap: 2px;
        margin: 2px 0;
    }
    .valores__title {
        font-size: 18px;
    }
    .header__title {
        font-size: 20px;
    }
}